<!-- src/views/index.ejs -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Node.js</title>
    <link
      rel="shortcut icon"
      href="https://ajeetchaulagain.com/static/7cb4af597964b0911fe71cb2f8148d64/87351/express-js.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <%- include('./layouts/nav') %>
    <h1>Página de Inicio</h1>
  </body>
</html>
