<!-- src/views/pedidos.ejs -->
<link  rel="shortcut icon"  href="https://ajeetchaulagain.com/static/7cb4af597964b0911fe71cb2f8148d64/87351/express-js.png" type="image/x-icon"/>
<%- include('./layouts/nav') %>
<h1>Lista de Pedidos</h1>
<ul>
  <% pedidos.forEach(pedido => { %>
  <li><%= pedido.nombre %></li>
   <% }); %>
</ul>
