<link  rel="shortcut icon"  href="https://ajeetchaulagain.com/static/7cb4af597964b0911fe71cb2f8148d64/87351/express-js.png" type="image/x-icon"/>
<%- include('./layouts/nav') %>
<h1>Iniciar sesión</h1>
<form action="/signin" method="POST">
  <input type="email" name="correo" placeholder="Email">
  <input type="password" name="contraseña" placeholder="Password">
  <button type="submit">SignIn</button>
</form>