<link  rel="shortcut icon"  href="https://ajeetchaulagain.com/static/7cb4af597964b0911fe71cb2f8148d64/87351/express-js.png" type="image/x-icon"/>
<%- include('./layouts/nav') %>
<h1>Registrarse</h1>
<form action="/signup" method="POST">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">SignUp</button>
</form>

