<link  rel="shortcut icon"  href="https://ajeetchaulagain.com/static/7cb4af597964b0911fe71cb2f8148d64/87351/express-js.png" type="image/x-icon"/>
<%- include('./layouts/nav') %>
<h1>Registrarse</h1>
<form action="/signup" method="POST">
  <input type="hidden" name="rol">
  <input type="hidden" name="permisos">
  <input type="text" name="nombre" placeholder="Nombre">
  <input type="email" name="correo" placeholder="Email">
  <input type="number" name="telefono" placeholder="Teléfono">
  <input type="number" name="documento" placeholder="Documento">
  <input type="hidden" name="estado_usuario">
  <input type="password" name="contraseña" placeholder="Contraseña">
  <button type="submit">SignUp</button>
</form>

