<!-- src/views/layouts/nav.ejs -->
<nav>
  <ul>
    <% if (!usuarioAutenticado) { %>
      <a href="/signup"> Registrarse</a>
      <a href="/signin">Iniciar sesión</a>
    <% } %>
    <% if (usuarioAutenticado) { %>
      <a href="/signout"> Cerrar Sesión</a>
      <li><a href="/pedidos">Pedidos</a></li>
      <li><a href="/configuracion">Configuración</a></li>
      <li><a href="/pelos">Ventas</a></li>
      <li><a href="/reservas">Reservas</a></li>
    <% } %>
  </ul>
</nav>
