<!-- views/nav.ejs -->
<nav>
    <ul>
        <a href="/signup"> Registrarse</a>
        <a href="/signin">Iniciar sesión</a>
      <li><a href="/pedidos">Pedidos</a></li>
      <li><a href="/coleccion2">Coleccion 2</a></li>
      <li><a href="/coleccion3">Coleccion 3</a></li>
    </ul>
  </nav>
  