<!-- src/views/layouts/nav.ejs -->
<nav>
  <ul>
    <% if (!usuarioAutenticado) { %>
      <a href="/signup"> Registrarse</a>
      <a href="/signin">Iniciar sesión</a>
    <% } %>
    <% if (usuarioAutenticado) { %>
      <a href="/signout"> Cerrar Sesión</a>
      <li><a href="/pedidos">Pedidos</a></li>
      <li><a href="/danilo">Coleccion</a></li>
      <li><a href="/pelos">Coleccion</a></li>
      <li><a href="/murcia">Coleccion</a></li>
    <% } %>
  </ul>
</nav>
